{% extends 'base.html.twig' %}

{% block title %}Table Info{% endblock %}

{% block body %}

    <h2 class="text-center"> Fill in the form. </h2>

    <div class="row justify-content-center form-inline">
    {{ form_start(form, {'attr': {'novalidate': true, 'id': 'js-post-form'}}) }}

    {{ form_widget(form) }}

    <br><button type="submit" class="btn btn-outline-success btn-sm btn-block">
            <i class="fas fa-paper-plane"> To send</i></button>

    {{ form_end(form)}}
    </div>

    <br>
    <span id="js-post-table">
    {{ include('main/table.html.twig', {'mains': mains}) }}
    </span>

{% endblock %}
